.cardsMainCont {
  padding-left: 80px;
  padding-right: 80px;
  /* width: 100vw; */
  /* margin-top: 100px; */
  background-color: #daddff;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
