.bubble-wrapper {
  position: relative;
  top: 200px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../../assets/speech-bubble.png');
  filter: drop-shadow(14px 10px 7px rgba(0, 0, 0, 0.468));
  opacity: 0.9;
  background-size: 400px 150px;
  background-position: top;

  background-repeat: no-repeat;
  text-align: center;
  color: whitesmoke;

  width: 400px;
  height: 200px;
}
.bubble-text {
  padding-top: 22px;
  font-size: 26px;
  color: black;
}
@media (max-width: 1015px) {
  #welcome-bubble {
    display: none;
  }
}
